<div class="body">
    
    <div class="text"></div>
<div class="container">

    <div class="right">
    <div class="formBox">
        
        <form>
        <p> Email</p>
        <input type="text" name="email" placeholder="Email"  [(ngModel)]="email">
            
        <p> password</p>
        <input type="Password" placeholder="Password" name="password" [(ngModel)]="password">
            
        <input type="submit" value="Login" name="" (click)="myLogin()">
        <a href="/register">or register here</a>
        </form>
        
        </div>
    </div>

</div>

</div>


