.body{
    margin: 0;
    /*padding: 0; */
    background: url('/assets/images/hand.jpg');
    background-size: cover;
    font-family: sans-serif;
    padding-bottom: 200px;
    padding-top: 50px;
    
}

.text{
    text-align: center;
    color: #150c7d;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.container{
    /*width: 50%;*/
    width: 25%;
    height: 400px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,5);
    
}

.container .right{
float: right;
width: 100%; /* 50%  */
height: 400px;
box-sizing: border-box;
}

.formBox{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}

.formBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #150c7d;
}

.formBox input{
    width: 100%;
    margin-bottom: 20px;
}

.formBox input[type="text"],
.formBox input[type="Password"]
{
    border: none;
    border-bottom: 2px solid #150c7d;
    outline: none;
    height: 40px;
}

.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus
{
     border-bottom: 2px solid #262626;
}

.formBox input[type="submit"]
{
border: none;
outline: none;
height: 40px;
color: #fff;
background: #262626;
cursor: pointer;
}

.formBox input[type="submit"]:hover
{
   background: #150c7d;
}

.formBox a{
    color: #262626;
    font-size: 12px;
    font-weight: bold;
}

/*---------------- CSS FOR MOBILE ------------------*/

@media screen and (max-width: 850px){
    
    .container{
       width: 40%;
}
    
    
}

@media screen and (max-width: 500px){
    
    .container{
    width: 70%;
}
    
    
}
